<!DOCTYPE html>
<HTML lang="en">
    
<head>
    <!-- jquery loader -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Leaflet's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <!-- Leaflet js -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <!-- Our frontend js -->
    <script src="frontend.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" href="style.css">
    <title>Visualizing Technology use by age and region</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h1 id="main_title"> Visualizing Technology Use by Age and Region</h1>

    <div id="main">

        <!-- https://leafletjs.com/ -->
        <div id="map"></div>
        <!-- map javascript -->
        <script src="js/map.js"></script>

        <div id="dataset_selectors">
            <p> Select dataset(s)
                <br />
                <input id="response_selector" type="checkbox" title="responseSelector" class="dataset_selector" />
                Responses
                <input id="usage_selector" type="checkbox" title="usageSelector" class="dataset_selector" /> Usages
            </p>
        </div>
        <div id="shared_filters">
            <p>Select ages
                <select id="ages_selector">
                    <option id="shared_15+_filter"   title="ageFilter" value='15+' class="shared_filters">15+</option>
                    <option id="shared_15-24_filter"   title="ageFilter" value='15-24' class="shared_filters">15-24</option>
                    <option id="shared_25-54_filter"   title="ageFilter" value='25-44' class="shared_filters">25-44</option>
                    <option id="shared_55-64_filter"   title="ageFilter" value='45-64' class="shared_filters">45-64</option>
                    <option id="shared_65+_filter"   title="ageFilter" value='65+' class="shared_filters">65+</option>
                </select>
                <!--TODO: Note that while the ranges are both possible, the strings for Usages and Response are each different. Those values need to both be stored, or need to be translated by frontend depending on which datasets are checked. -->
            </p>
            <p>Select at least one Location/Region, but as many as you like! <!--TODO: Disable all except 'Canada', 'Atlantic provinces', 'Quebec', 'Ontario', 'Prairie provinces', 'British Columbia' if the Usages dataset is on!-->
                <br />
                <input id="shared_canada_filter" type="checkbox" title="locationFilter" value = "CA" class="shared_filters"></input>
                <label for="shared_canada_filter">Canada</label>
                <input id="shared_atlantic_filter" type="checkbox" title="locationFilter" value = "Atlantic" class="shared_filters"></input>
                <label for="shared_atlantic_filter">Atlantic Provinces</label>
                <input id="shared_newfoundland_filter" type="checkbox" title="locationFilter"  value = "NL" class="shared_filters"></input>
                <label for="shared_newfoundland_filter">Newfoundland and Labrador</label>
                <input id="shared_pei_filter" type="checkbox" title="locationFilter"  value = "PE" class="shared_filters"></input>
                <label for="shared_pei_filter">Prince Edward Island</label>
                <input id="shared_novascotia_filter" type="checkbox" title="locationFilter" value = "NS" class="shared_filters"></input>
                <label for="shared_novascotia_filter">Nova Scotia</label>
                <input id="shared_newbrunswick_filter" type="checkbox" title="locationFilter"  value = "NB" class="shared_filters"></input>
                <label for="shared_newbrunswick_filter">New Brunswick</label>
                <input id="shared_quebec_filter" type="checkbox" title="locationFilter"  value = "QC" class="shared_filters"></input>
                <label for="shared_quebec_filter">Quebec</label>
                <input id="shared_ontario_filter" type="checkbox" title="locationFilter" value = "ON" class="shared_filters"></input>
                <label for="shared_ontario_filter">Ontario</label>
                <input id="shared_prairieprovinces_filter" type="checkbox" title="locationFilter" value = "Prairie" class="shared_filters"></input>
                <label for="shared_prairieprovinces_filter">Prairie Provinces</label>
                <input id="shared_manitoba_filter" type="checkbox" title="locationFilter"  value = "MB" class="shared_filters"></input>
                <label for="shared_manitoba_filter">Manitoba</label>
                <input id="shared_saskatchewan_filter" type="checkbox" title="locationFilter" value = "SK" class="shared_filters"></input>
                <label for="shared_saskatchewan_filter">Saskatchewan</label>
                <input id="shared_alberta_filter" type="checkbox" title="locationFilter" value = "AB" class="shared_filters"></input>
                <label for="shared_alberta_filter">Alberta</label>
                <input id="shared_britishcolumbia_filter" type="checkbox" title="locationFilter" value = "BC" class="shared_filters"></input>
                <label for="shared_britishcolumbia_filter">British Columbia</label>
            </p>
        </div>
        <div id="response_specific_filters">
            <p>Select sex.
                <select id="sexes_selector">
                    <option id="response_female_filter"   title="sexFilter" value='Female' class="response_specific_filters">Female</option>
                    <option id="response_male_filter"   title="sexFilter" value='Male' class="response_specific_filters">Male</option>
                    <option id="response_both_sexes_filter"   title="sexFilter" value='Both sexes' class="response_specific_filters">Both</option>
                </select>
            </p>
            <p>Select filters for questions.
                <select id="questions_selector">
                <option id="response_helps_communicate_filter"   title="questionFilter" value='Helps to communicate' class="response_specific_filters" search = "">Helps to Communicate</option>
                <option id="response_saves_time_filter"   title="questionFilter" value= 'Saves time' class="response_specific_filters">Saves Time</option>
                <option id="response_interferes_filter"   title="questionFilter" value= 'Interferes with other things in life' class="response_specific_filters">Interferes with other things in life</option>
                <option id="response_helps_creative_filter"   title="questionFilter" value='Helps to be more creative' class="response_specific_filters">Helps to be more creative</option>
                <option id="response_helps_decisions_filter"   title="questionFilter" value='Helps make more informed decisions' class="response_specific_filters">Helps to make informed decisions</option>
                </select>
            </p>
            <p>Select filters for answers.
                <br />
                <select id="responses_selector">
                <option id="response_always/often_filter"   title="responseSubfilter" value='Always or often' class="response_specific_filters">Always/Often</option>
                <option id="response_always_filter"   title="responseSubfilter" value='Always' class="response_specific_filters">Always</option>
                <option id="response_often_filter"   title="responseSubfilter" value='Often' class="response_specific_filters">Often</option>
                <option id="response_sometimes_filter"   title="responseSubfilter" value='Sometimes' class="response_specific_filters">Sometimes</option>
                <option id="response_rarely/never_filter"   title="responseSubfilter" value='Rarely or never' class="response_specific_filters">Rarely/Never</option>
                <option id="response_rarely_filter"   title="responseSubfilter" value='Rarely' class="response_specific_filters">Rarely</option>
                <option id="response_never_filter"   title="responseSubfilter" value='Never' class="response_specific_filters">Never</option>
                <option id="response_don't know_filter"   title="responseSubfilter" value="Don't know/refusal/not stated" class="response_specific_filters">Don't know</option>
                </select>
            </p>
        </div>
        <div id="usage_specific_filters">
            <p>Select filters for data statistics.
                <br />
                <select id="services_selector">
                <option id="service_internet_at_home_filter"   title="serviceType"value='Have access to the Internet at home' class="usage_specific_filters">Have access to the Internet at home</option>
                <option id="service_smarthome_at_home_filter"   title="serviceType"value='Use of a smart home devices in primary residence ' class="usage_specific_filters">Use of smart home devices in primary residence</option>
                <option id="service_smartphone_personal_filter"   title="serviceType"value='Have a smartphone for personal use' class="usage_specific_filters">Have a smartphone for personal use</option>
                <option id="service_social_networking_acccounts_filter"   title="serviceType"value='Have social networking accounts' class="usage_specific_filters">Have social networking accounts</option>
                <option id="service_video_streaming_filter"   title="serviceType"value='Used or purchased music streaming services' class="usage_specific_filters">Used or purchased video streaming services</option>
                <option id="service_government_services_online_filter"   title="serviceType"value='Used government services online ' class="usage_specific_filters">Used government services online </option>
                <option id="service_shopped_online_filter"   title="serviceType"value='Shopped online' class="usage_specific_filters">Shopped online</option>
                </select>
            </p>
        </div>
        <button id="requestSearch">Search</button>
        <output id="search-out"></output>   
        <button id="requestExport">Export</button>
        <output id="requestExport-out"></output>   
    </div>

</body>

</HTML>