body {
    background: linear-gradient(rgba(0, 10, 0, 0.3), rgba(0, 90, 0, 0.3), rgba(0, 10, 0, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dataset_selectors {
    text-align: center;
}
#locations_container{
    display:inline grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: 55em;
}
#ages_selector {
    display:flex;
    flex-wrap: wrap;
}
#requestSearch{
    width: 8em;
    height: 4vh;
    font-size: medium;
}
#requestExport{
    width: 8em;
    height: 4vh;
    font-size: medium;
}
#response_specific_filters{
    display:inline grid;
    grid-template-columns: auto auto auto;
    width: 55em;  
}
#map {
    width: calc(100vw - 80px);
    height: calc(70vh - 80px);
}