body {
    background: linear-gradient(rgba(0, 10, 0, 0.3), rgba(0, 90, 0, 0.3), rgba(0, 10, 0, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dataset_selectors {
    text-align: center;
}

#map {
    width: calc(100vw - 80px);
    height: calc(70vh - 80px);
}